/*
# Creator: Arreaum
# GitHub: https://github.com/arriaoedu123/
# Creation date: 10/08/2021
# Version: 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { /* general preset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #000;
}

body { /* giving body a background */
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #d1dae3;
}

.text-field {
	width: 60%;
	margin-top: 10px;
	position: relative;
	height: 45px;
}

.text-field input { /* giving url field input a basic style */
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: #f1f1f7;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	padding: 0 20px;
}

.text-field button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border: none;
	outline: none;
	width: 50px;
	height: 100%;
	z-index: 1;
	background: #e50914;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	overflow: hidden;
}

.text-field button i {
	color: #fff;
	font-size: 18px;
}

.wave { /* ripple effect wave */
	--top: 0;
	--left: 0;
	--scale: 0;
	--opacity: 0;
	pointer-events: none;
	background: transparent;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
	transform: translateX(var(--left)) translateY(var(--top));
}

.wave:after { /* ripple effect wave transition */
	content: "";
	display: block;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	background: rgba(255, 255, 255, .4);
	will-change: transform;
	transform: scale(var(--scale));
	opacity: var(--opacity);
	transition: transform .5s, opacity .3s;
}

.pokemon-card {
	width: 60%;
	margin-top: 50px;
	margin-bottom: 10px;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transition: background 0.5s linear;
}

.pokemon-card-title {
	width: 100%;
	display: grid;
	grid-auto-rows: minmax(50px, auto);
	padding: 15px 15px 0 15px;
}

.pokemon-name {
	grid-column: 1/3;
}

.pokemon-name,
.pokemon-type,
.pokemon-id {
	color: #000;
	font-size: 22px;
	font-weight: 600;
}

.pokemon-name {
	text-transform: capitalize;
}

.pokemon-type {
	grid-column: 1/4;
}

.pokemon-id {
	text-align: right;
}

.pokemon-image {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.pokemon-type .type0,
.pokemon-type .type1,
.pokemon-type .type2 {
	text-transform: capitalize;
	padding: 5px 15px;
	border-radius: 5px;
}

.pokemon-card-info {
	width: 100%;
	background: #fff;
	margin-top: -70px;
	padding: 15px;
	border-radius: 25px;
}

.pokemon-card-info-title {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
}

.pokemon-card-info-stats {
	text-transform: capitalize;
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 1fr;
}

.pokemon-stats {
	list-style: none;
	word-spacing: 15px;
	font-size: 20px;
	text-align: right;
}

.status-bar {
	font-size: 20px;
	text-align: left;
	padding-left: 25px;
}

.status-hp-bar,
.status-attack-bar,
.status-defense-bar,
.status-attack-bar,
.status-sp-attack-bar,
.status-sp-defense-bar,
.status-speed-bar {
	width: 100px;
	height: 5px;
	background: red;
	position: relative;
}

.status-hp-bar {
	top: 10px;
}

.status-attack-bar {
	top: 36px;
}

.status-defense-bar {
	top: 61px;
}

.status-sp-attack-bar {
	top: 86px;
}

.status-sp-defense-bar {
	top: 111px;
}

.status-speed-bar {
	top: 136px;
}

.pokemon-info {
	list-style: none;
	font-size: 20px;
	grid-column: 1/3;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.info-abilities {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.info-name {
	width: 100%;
}

/*.info-abilities,
.info-extras {
	text-align: center;
	display: flex;
	flex-direction: column;
}*/

.info-stats {
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}

.info-stats1,
.info-stats2 {
	margin-bottom: 5px;
}

.info-stats1,
.info-stats2,
.info-stats3 {
	background: #d1dae3;
	border-radius: 5px;
	padding: 5px;
	display: block;
}

.info-stats3 {
	margin-top: 5px;
}

.info-extras {
	width: 100%;
	margin-top: 12px;
}

.extra-stats {
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.extra-info1,
.extra-info2 {
	font-size: 14px;
	word-spacing: 15px;
}

.extra-info1 label,
.extra-info2 label,
.extra-info3 label {
	font-size: 20px;
	text-transform: lowercase;
	word-spacing: 0px;
	text-align: right;
}

.pokemon-extras {
	grid-column: 3/4;
}

@media only screen and (max-width: 800px) {
	.text-field {
		width: 95%;
	}

	.pokemon-card {
		width: 95%;
	}

	.pokemon-stats {
		line-height: 38.6px;
	}

	.info-stats1,
	.info-stats2 {
		display: block;
		margin-bottom: 5px;
	}

	.info-extras {
		margin-top: 5px;
	}

	.extra-stats {
		margin-top: 2px;
	}

	.pokemon-card-info-stats {
		grid-auto-columns: minmax(50px, auto);
		justify-content: center;
	}
}

@media only screen and (max-width: 414px) {
	.text-field {
		width: 97%;
	}

	.pokemon-card {
		width: 97%;
	}

	.extra-stats {
		margin-top: 3px;
	}

	.pokemon-stats,
	.info-name,
	.info-stats1,
	.info-stats2,
	.extra-name,
	.extra-info1 label,
	.extra-info2 label {
		font-size: 18px;
	}

	.pokemon-stats {
		line-height: 35.8px;
	}

	.pokemon-card-info-stats {
		grid-auto-columns: minmax(15px, auto);
		justify-content: center;
	}

}

@media only screen and (max-width: 320px) {
	.pokemon-stats {
		font-size: 16px;
		
	}
}